*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}

body{
    font-family: sans-serif;
    background: url(./img/resize.gif)no-repeat center/cover;
    min-height: 100vh;
}

#header{
    padding: 20px 0;
    background: rgba(234, 234, 234, 0.582);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    
}

.header__Info{
    display: flex;
    gap: 17px;
}

.google{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header h1{
    font-weight: 800;
    font-size: 30px;
    font-style: italic;
    color: rgb(21, 55, 4);
}

.fa-house-chimney{
    font-size: 25px;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.call{
    font-weight: 600;
    font-size: 18px;
    line-height: 15px;
    color: rgb(93, 95, 92);
}

.call ion-icon{
    color: rgb(255, 217, 0);
    font-size: 16px;
}

.whatsapp{
    font-weight: 600;
    font-size: 18px;
    line-height: 15px;
    color: rgb(93, 95, 92);
}

.whatsapp ion-icon{
    color: gold;
    font-size: 18px;
}

.google{
    font-weight: 600;
    font-size: 18px;
    line-height: 15px;
    color: rgb(93, 95, 92);
}

.google ion-icon{
    color: gold;
    font-size: 18px;
}

.hero input{
    width: 150px;
    height: 35px;
    right: 100px;
    top: 40px;
    font-weight: 600;
    font-size: 15px;
    color: crimson;
    padding-left: 10px;
    background: rgb(233, 237, 228);
    position: relative;
}

.hero ion-icon{
    position: absolute;
    top: 124px;
    right: 1480px;
    color: dodgerblue;
    font-size: 20px;
}

.hero button{
    height: 30px;
    width: 100px;
    margin-left: -80px;
    
   
}